a {
    color: rgb(116, 203, 253);
}

.post-image {
    width: 50%;
}

.gallery-image {
    max-height: 340px;
}

figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
}

blockquote {
    padding-left: 0.5em;
    border-left: 0.2em #eee solid;
    background-color: #292932;
}

.post-body {
    h1 {
        font-weight: 600;
        font-size: 1.5em;
    }

    h2 {
        font-weight: 500;
        font-size: 1.3em;
    }

    h3 {
        font-weight: 450;
        font-size: 1.2em;
    }

    ul {
        list-style: disc outside;
        padding-left: 1em;
    }

    code {
        font-family: monospace;
        background-color: rgb(30, 30, 33);
        color: rgb(116, 203, 253);
        padding: 0.2em 0.4em;
        border-radius: 0.2em;
    }
}